.headerContainer {
    @apply h-16 bg-white/80 backdrop-blur-md border-b border-slate-200 flex items-center justify-between pl-6 pr-0 sticky top-0 z-10 w-full;
    /* Adiciona padding-right 0 para os controles encostarem na borda se desejar */
}
